.player-info-panel
{
    width: 100%;
    height: 100%;
}

.player-panel
{
    vertical-align: top;
    margin-top: 10%;
    width: 100%;
    height: 24%;
}

.player-info-group
{
    width: 20%;
    height: 100%;
    flow-children: down;
}

#player-info-group-left
{
    horizontal-align: left;
}

#player-info-group-right
{
    horizontal-align: right;
}

.player-portrait
{
    width: 100%;
    height: 50%;
    wash-color: #ffffff;
}

.player-portrait.bonked
{
    wash-color: #cccccc;
}

.player-portrait-content
{
    margin: 8px 0px;
    padding: 0px 8px;
    width: 100%;
    height: 100%;
    flow-children: right;
    background-image: url("s2r://panorama/images/hud/reborn/inventory_bg_bg_psd.vtex");
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-size: cover;
}

.hero-image-crop
{
    margin: 16px;
    margin-right: 8px;
    height: 100%;
    width: height-percentage(100%);
    overflow: clip;
}

.hero-image
{
    height: 100%;
    width: height-percentage(140%);
    background-color: black;
}

.hero-image.npc_dota_hero_lone_druid
{
    margin-left: -40%;
}
.hero-image.npc_dota_hero_phantom_assassin
{
    margin-left: -24%;
}
.hero-image.npc_dota_hero_kunkka
{
    margin-left: -1%;

}
.hero-image.npc_dota_hero_omniknight
{
    margin-left: -10%;
}
#player-info-group-right .hero-image.npc_dota_hero_lone_druid
{
    margin-left: 5%;
}
#player-info-group-right .hero-image.npc_dota_hero_phantom_assassin
{
    margin-left: -16%;
}
#player-info-group-right .hero-image.npc_dota_hero_kunkka
{
    margin-left: -40%;

}
#player-info-group-right .hero-image.npc_dota_hero_omniknight
{
    margin-left: -40%;
}

.player-name
{
    color: white;
    font-size: 22px;
    margin-left: 8px;
    text-overflow: ellipsis;
}

.player-abilities
{
    width: 100%;
    height: 100%;
    flow-children: left;
}

.info
{
    width: fill-parent-flow(1);
    height: 100%;
    margin: 16px 0px;
    flow-children: down;
}

.player-abilities DOTAAbilityImage
{
    margin: 8px 8px 0px 8px;
    height: 100%;
    width: height-percentage(100%);
}

.bonk-player
{
    height: 80%;
    width: height-percentage(100%);
    margin: 10% 0;
}

.bonk-player DOTAAbilityImage
{
    margin: 8px 8px;
    height: 100%;
    width: height-percentage(100%);
}

#player-info-group-right .player-portrait-content
{
    flow-children: left;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#player-info-group-right .player-abilities
{
    flow-children: right;
}

#player-info-group-right .player-name
{
    horizontal-align: right;
    margin-left: 0px;
    margin-right: 8px;
}

#player-info-group-right .hero-image
{
    transform: scaleX(-1);
}

#player-info-group-right .hero-image-crop
{
    margin-right: 16px;
    margin-left: 8px;
}

#bonk-stick
{
    height: 8%;
    x: 90%;
    y: 80%;
    width: height-percentage(100%);
}


#bonk-stick.in-transition,
#bonk-stick.player0.in-transition,
#bonk-stick.player1.in-transition,
#bonk-stick.player2.in-transition,
#bonk-stick.player3.in-transition
{
    x: 50%;
    y: 15%;
    transform: rotateZ(-45deg);
}

#bonk-stick.player0
{
    x: 4%;
    y: 11%;
    transform: rotateZ(-90deg);
}

#bonk-stick.player1
{
    x: 3%;
    y: 22%;
    transform: rotateZ(-90deg);
}

#bonk-stick.player2
{
    x: 92%;
    y: 11%;
}

#bonk-stick.player3
{
    x: 92%;
    y: 23%;
}


